@using SettingsReader.Application
@inject IAppSettings AppSettings
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p><strong>EnvironmentName: </strong>@ViewBag.EnviromentName</p>
        <p><strong>VariableToOverride: </strong>@ViewBag.VariableToOverride</p>
        <p><strong>SecretVariable: </strong>@ViewBag.SecretVariable</p>
        <p><strong>SecretConnectionString: </strong>@ViewBag.SecretConnectionString</p>
        <p><strong>IP Address: </strong>@ViewBag.IP</p>
        <p><strong>User Agent: </strong>@ViewBag.UserAgent</p>
        <p><strong>AppSettings Variable1: </strong>@AppSettings.Variable1</p>
        <p><strong>AppSettings EvariantSettings TokenUri: </strong>@AppSettings.EvariantSettings.TokenUri</p>
    </div>
