@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p><strong>EnvironmentName: </strong>@ViewBag.EnviromentName</p>
        <p><strong>VariableToOverride: </strong>@ViewBag.VariableToOverride</p>
        <p><strong>SecretVariable: </strong>@ViewBag.SecretVariable</p>
        <p><strong>SecretConnectionString: </strong>@ViewBag.SecretConnectionString</p>
        <p><strong>IP Address: </strong>@ViewBag.IP</p>
        <p><strong>User Agent: </strong>@ViewBag.UserAgent</p>
    </div>
